
/* INDEX.PHP */
.placa_esquerda
{
    width:90%; 
    margin-top:-440px;
    margin-left:767px;
}
.placa_direita
{
    width:90%; 
    margin-top:-200px;
    margin-left:900px;
}
.mapa
{
    margin-top:-216px;
    font-size:30px;
    margin-left:450px;
}
.logout
{
    margin-top:30px;
    font-size:30px;
    margin-left:644px;
}
.login
{
    margin-top:-216px;
    font-size:30px;
    margin-left:430px;
}
.cadastro
{
    margin-top:30px;
    font-size:27px;
    margin-left:630px;
}

/* FIM INDEX.PHP */